<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
   	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <script type="text/javascript" src="../js/jquery.js" ></script>
    <script type="text/javascript" src="../js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../js/vue.js" ></script>
    <style type="text/css">
    	/*#se th:nth-child(5){
    		display: none;
    	}*/
    </style>
	
</head>
<body>
    <div >
        <!-- start list -->
        <div>
        	<form class="form-inline" role="form">
			<div class="form-group">
			<ul class="breadcrumb">
				<label>位置:</label>
				<li><a href="#" style="color: #000000;">业务管理</a></li>   
				<li><a href="#" style="color: #000000;">订单管理</a></li>   
				<li><font style="color: #000000;">订单列表</font></li>&nbsp;&nbsp;
			    <label class="sr-only" for="name">订单号</label>
			    <input type="text" class="form-control" id="name" placeholder="请输入订单号">
				<button type="button" class="btn btn-primary" v-on:click="searchOrder">搜索</button>
				 </div>
				</form>
			</ul> 
        </div>
        
        <div class="col-md-12" >
            <!--<div class="h2 text-center text-muted">
            	订单列表
            </div>-->
            <div id="app">
                <table class="table table-hover text-center">
                    <tr class="text-center text-info" id="se">
                    	<th class="text-center"> 
                    		<label>
                              <input type="checkbox">
                            </label>
                    	</th>
                        <th class="text-center">订单号</th>
                        <th class="text-center">商品名称</th>
                        <th class="text-center">买家姓名</th>
                        <th class="text-center">金额</th>
                    	<th  class="text-center">操作</th>
                    </tr>
                    <tr v-for="order in orders ">
                        <td>
                            <label>
                              <input type="checkbox" v-bind:value="order.id" v-model="checkedNames">
                            </label>
                        </td>
                        <td>{{order.id}}</td>
                        <td>{{order.name}}</td>
                        <td>{{order.author}}</td>
                        <td>{{order.price}}</td>
                        <td  class="text-center">
                        	<input type="button" class="btn btn-primary btn-sm" value="查看" />
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="7" class="text-center">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">增加</button>
                            <button type="button" class="btn btn-danger" v-on:click="delItems">删除</button>
                        </td>
                    </tr>-->
                </table>
                
                <div class="text-right">
                	 <ul class="pagination">
					<li><a href="#">«</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">»</a></li>
				</ul>
                </div>
                
                <p style="display: none;">Checked names: {{ checkedNames }}</p>

                <!-- start modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">添加订单</h4>
                            </div>
                            <div class="modal-body">
                                                               订单号<input class="form-control" placeholder="input id" v-model="order.id">
                                                               买家姓名<input class="form-control" placeholder="input author" v-model="order.author">
                                                               商品名称<input class="form-control" placeholder="input name" v-model="order.name">
                                                               金额<input class="form-control" placeholder="input price" v-model="order.price">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="addItem">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end modal -->

            </div>
        </div>
        <!-- end list -->

    </div>
</body>
<script>new Vue({
	el: '#app',
	data: {
		order: {
			id: '0',
			author: '',
			name: '',
			price: ''
		},
		checkedNames: [],
		orders: [{
			id: '123',
			author: 'admin',
			name: '王金平幕僚：马英九声明字字见血  人活着没意思',
			price: 30
		}, {
			id: '456',
			author: 'admin',
			name: '王金平幕僚：马英九声明字字见血  人活着没意思',
			price: 30

		}]
	},
	methods: {
		delItems: function() {
			for(var i = 0; i < this.checkedNames.length; i++) {
				for(var j = 0; j < this.orders.length; j++) {
					var cur_order = this.orders[j];
					if(cur_order.id == this.checkedNames[i]) {
						this.orders.splice(j, 1);
					}
				}
			}
			this.checkedNames = [];
		},
		addItem: 　 function() {
			this.orders.push(this.order);
		}
		
		
	}
})</script>
</html>
